html,body
{
    margin:0; 
    background-color: #eee;
}

div.navigation-items
{
	font-size: 20px;
	color: white;
	
    position: relative;
    margin:15px auto 0;
    left:16px;
	display:inline-block;
    cursor: pointer;
}

div.selected-item
{
	color:black;
	margin-left: 50px;
	margin-right: 50px;
	border: 1px solid;
	border-color: white;
	border-radius: 5px;
	padding: 5px;
	background-color:white;
}

header
{
	
    background-color: white;
    margin: 0 auto;
    z-index:100;
    text-align: center;


    position: fixed;
	box-shadow: 0px 5px 3px #888;
    height:64px;
	
    margin-left: auto;
    margin-right: auto;
	
    width:100%;
    top: 0px;
    left:0px;
    transition: height 0.5s; /* transition - по-гладко появяване на менюто - анимация съответстваща на дизайна */
}


/*За отделните страници и главното съдържание*/
.hidden
{
	display:none;
}

/* Следните стилове управляват главното съдържание и всички прилежащи на него елементи*/
.content
{
	font-family: 'Roboto-Medium';
	font-size: 16px;
	color: #333;
	
	word-wrap: break-word; /* Ако някое съдържание стане твърде голямо, да се покаже на няколко реда, макар и да развали layout-а! Екстремен случай*/
	
    position: absolute;
	text-align:center;
	margin-top: 20px;
	width: 100%;
	
    top: 66px;
    background-color: #eee;
    opacity: 1;
	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}


.button
{
	margin: 15px;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: #005500;
	line-height: 3;
	border-radius: 50px;
	color: #fff;
	width: 200px;
	height: 48px;
	cursor: pointer;
}

#registerButtonFacebook
{
	background-color:#3b5998;
}

.button:active,#registerButtonFacebook:active
{
	background-color:#667278;
}

.mainHeaderBack
{ 
    transition: all 0.4s ease;
	background-color:#b0bec5;
}

.secondaryHeaderBack
{
	background-color: #005500;
}

.registerfield
{
	width: 70%;
	margin-bottom: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


input[type=text],[type=password],[type=email]
{
    padding:7px;
    width:70%;
    height:40px;
    margin-top:15px;
    font-size:18px
}


input[type=button]:hover
{
	background-color:#667278;
}



/* Следните стилове управляват menu и всички прилежащи на него елементи*/

#return-from-menu
{
    display:none;
}

#main-menu
{
    position: fixed;
	z-index: 999;
    top: 0px;
    bottom:0px;
    width:20%; 
	height:100%;
    overflow:hidden;
    background-color: rgb(176, 190, 197);
}

#menu-logo
{
    margin-left: 16px;
    margin-top: 5px;
    margin-bottom: -6px;
}



img#menu-button
{
	display: none;
    position: absolute;
    top: 20px;
    left:16px;
    height:24px;
    width:24px;
    cursor: pointer;
}




.secondaryColorBackWoman
{
	background-color: rgb(245,0,87);
}

.dropShadow
{
	box-shadow: 0 0 10px rgba(0,0,0, .65);	 /* Сянка, съответстваща на дизайна за приложенията на Android google.com/design */
}


.card
{
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin: 0 auto;
  width: 80%;
  border-radius:3px;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
  margin-bottom: 10px
}

/* Следните стилове управляват header и всички прилежащи на него елементи*/


img#profile-button
{
    position: absolute;
	top: 13px;
	right: 14px;
    height:36px;
    width:36px;
    cursor: pointer;
}

/* Следните стилове управляват динамичния бутон за тренировки и всички прилежащи на него елементи*/
.train-button
{
	position: relative;
	bottom: 115px;
	right: 50px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin-left: auto;
	cursor: pointer;
	margin-bottom: -90px;
}

.train-button-img
{
    position:relative;
    top:8px;
    left:8px;
}

#train
{
	width: 250px;
}

#resetworkout
{
	width: 250px;
}

/* Стилове за конкретна тренировка */

#workout-table
{
	margin: 0 auto;
	width: 90%;
}

/* Конкретно упраженение */
/*****************************************************************************/

.exercise
{
	background-color: #ffffff;
	width: 100%;
	margin-top: 5px;
}

.exerciseWider
{
	height: 100px;
	width: 60%;
}

.exerciseSlimmer
{
	width: 40%;
}

.exerciseButton
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.exerciseDoneButton
{
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.exerciseDoneButtonContainer
{
	height: 100%;
}

.alignHelper
{    
	display: inline-block;
    height: 25%;
    vertical-align: middle;
}

.exerciseDescription
{
	margin: 0 auto;
	display: block;
	background-color: #ffffff;
	margin-bottom: 5px;
}

.exerciseDescriptionExpand
{
	text-align: center;
}

.packedExercise
{
	height:50px;
	table-layout: fixed;
}

.exerciseImg
{
	max-width:100%; 
	max-height:100%;
	min-height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.information
{
	font-size: 14px;
    font-style: italic;
}

progress {
	color: #000;
	background: #fff;
}
progress::-webkit-progress-bar {
	border: 1px solid;
	background: #fff;
}
progress::-webkit-progress-value {

	color: #dd0000;
} 

.trainProgressLabel {
	zindex:999;
    position: relative;
}

/* Настройки на упражнение */

.customizecard
{
	background-color: #ffffff;
	width: 100%;
	text-align: center;
	border-spacing: 0px;
}

.customizeparameter,.customizetime
{
	height: 30px;
}

.customizebuttonup
{
	background-color: #55ff55;
	border: 2px solid;
}

.customizebuttonup:active
{
	background-color: #99ff99;
}

.customizebuttondown
{
	background-color: #ff5555;
	border: 2px solid;
}

.customizebuttondown:active
{
	background-color: #ff9999;
}


/*****************************************************************************/



/* Форми на профила */
/*****************************************************************************/
.aButton
{
	margin-top: 13px;
	margin-bottom: 12px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 40px;
	
	background-color:#263238;
	color: #fff;
	width: 150px;
	height: 40px;
	border: 5px solid #263238;
	border-radius: 5px;
	
    cursor: pointer;
}

.aButton:active
{
	background-color:#667278;
	border-color: #667278;
}


form
{
	margin-top:15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



.profileLoginError { 
	color: red; 
	vertical-align: top; 
	font-weight:bold
}
/*****************************************************************************/


/* Същински профил */
/*****************************************************************************/
.profile
{
	padding: 0;
	width: 90%;
}

#UserProfileView
{
	background-image: url('../res/images/profileWoman.png');
	background-size:cover;
}

#profile-information
{
	text-align:center;
}

.profileViewItem
{
	top: 30px;
    position: relative;
    margin:15px auto 0;
	
	line-height: 40px;
	width: 95%;
	height: 40px;
	
	background-color: rgba(38, 50, 56 , 0.5);
	border-radius: 4px;
	
	font-size: 16px;
	color: #fff;
}
/*****************************************************************************/


/* Всички стилове свързани с тренировъчни програми */
/*****************************************************************************/
.programPic
{
	background-size: cover;
    background-position: center;
	width: 100%;  
	margin-bottom: 15px;
}

.programView
{
	top: 15px;
    position: relative;
	font-size: 16px;
}

.programDone
{
	background-color: #005500;
	color: #ffffff;
}

.programContainer
{
	margin-top: 20px;
	text-align: center;
}




/*****************************************************************************/